body {
	margin: 0;
	background: #e3e3e3;
	font-family: Verdana, Tahoma, Arial, sans-serif;
}
#data-storage {
	margin: 10px;
	padding: 10px;
	background: #fafafa;
}
#data-storage .txt {
	font-size: 13px;
}
#data-storage label {
	font-size: 13px;
}
#data-btns {
	margin: 10px 0;
}
#data-btns button {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 12px;
	border: 0;
	background: #a9cafc;
}
#data-list {
	border: solid 1px #ddd;
	padding: 3px 10px;
}
#data-list p {
	margin: 6px 0;
	font-size: 14px;
}